/* .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #293241;
  text-align: center;
} */

.outside {
	height: 100%;
	/* margin: 0 auto; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	resize: both;
	overflow: auto;
}

.hello {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about {
	display: block;
	margin: 1em auto;
}

.about-item {
	float: left;
}

.about-icon {
	min-width: 40px;
	min-height: auto;
	display: inline-block;
	border-radius: 60px;
	padding: 7px;
	background:  #00974e;
}

.about-icon img {
	height: 40px;
	width: auto;
}

.about-description {
	max-width: 20em;
	margin: .67em auto;
}

.external {
	margin: .67em auto;
	position: absolute;
	bottom: 0;
}

.external-link {
	text-decoration: none;
	margin: 2px;
}

.external-link:visited {
	text-decoration: none;
}

.external-link img{
	text-decoration: none;
	height: 20px;
	width: auto;
}

h1 {
	max-width: 50em;
	font-size: 50px;
	margin: .4em;
	font-weight: 250;
}

h2 {
	max-width: 25em;
	font-size: 20px;
	line-height: 1.2em;
	margin: .40em;
	font-weight: 100;
}

p {
	line-height: 1.2em;
}

/*
		<div class="section footer">
			<p>Get in touch at me
				<!-- >@. -->@
				<!-- >@. -->alec
				<!-- >@. -->.
				<!-- >@. -->ge</p>
		</div>
*/