html, body, div, h1, h2, h3, h4, p, i, b, a, ul{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.3em;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.right {
    float: right;
    clear: right;
}

/* .left {
    float: left;
    clear: left;
} */

body {
    width: 8.5in;
    height: 11in;
    /* background-color: rgba(0, 0, 0, 0.02); */
    box-shadow: 2px 2px 4px #AAAAAA;
    border: 1px solid #CCCCCC;

    margin: 0.8em auto;
}

.resume {
    margin:.33in .45in;
    overflow: hidden;
}

.header {
    width: 100%;
    font-size: 11.5pt;
}

.name {
    /* padding-top: 0.15in; */
    /* padding-bottom: 0.03in; */
}

.about {
    margin-top: 0;
}

.section {
    width: auto;
    margin-top: .02in;
    margin-bottom: 0;
}

.section-title {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: black;
    font-size: 14pt;
}

.entry {
    display: block;
    margin-top: 0.05in;
    margin-left: 0;
}

.entry h4 {
    font-size: 12.5pt;
    margin-left: 0;
}

.description {
    margin-left: 1em;
    margin-right: 0em;
    display: block;
}

.annotation {
    font-style: italic;
    font-size: 11.5pt;
}

.details {
    display: block;
    margin-left: 1.5em;
    margin-right: 0em;
    font-size: 11.5pt;
}

.skills > .entry > h4 {
    vertical-align: top;
    display: inline-block;
    position: absolute;
    /* margin-left: .25in; */
}

.skills .entry div {
    display: inline-block;
    margin-left: 1.5in;
}

.reference {
    margin: .3in auto;

}

@media print {
    @page {
        margin: 0;
    }

    body {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        overflow: hidden;

    }

    html {
        overflow: hidden;
    }

    a, a:visited {
        color: #000000;
    }
}